.header {
	width:110%;
	height:50px;
	background:#3A3A3A;
	position: relative;
	display: inline;
	float: left;
	left:-10px;
	top:-10px;
}

html {
	font-family:Tahoma, Geneva, sans-serif;
}

head {
	position:fixed;
	margin:0px;
}

body {
	margin:0px;
	background-color:orange;
}

#head-text {
	color:orange;
	font-size:35px;
	padding-top:0px;
	width:13%;
}

a:link {
	color:orange;
}

a:visited {
	color:orange;
}

a:hover {
	color:white;
}

a.header-links {
	align-text:right;
	text-decoration:none;
	width:20%;
	font-size:25px;	
}

a.body-link {
	align-text:right;
	text-decoration:none;
	
	
}

#links-menu{
	right:0px:
	align:right;
}

#logo {
	width:5%;
}

#header-spacer{
	width:53%;
}

table {
	border-spacing:0px;
	background-color:#3A3A3A;
	width:100%;
	top:-30px;
	width:100%;

}

.main-body-text {
	border-style:outset;
	border-width:10px;
	border-color:black;
	background:#3A3A3A;
	margin-left:10%;
	width:80%;
	margin-top:20px;
	padding:10px;
	margin-bottom:0px;
}

#top{
	margin-top:30px;
}

.body-header {
	color:orange;
	text-indent:10px;
}

.body-text {
	color:white;
	text-indent:50px;
}