.header {
	width:110%;
	height:50px;
	background:#3A3A3A;
	position: fixed;
	display: inline;
	float: left;
	left:-10px;
	top:-10px;
	z-index:10000000;
}

body, html {
height: 100%;
}
html {
	font-family: 'Roboto', sans-serif;
	height:100%;
}

head {
	position:fixed;
	margin:0px;
}

body {
	margin:0px;
	/*background-color:orange;*/
	background-image:url("background/tigerstripes-small.png");
}

.push {
	height:20%;
}

#footer-div{
	margin:0px;
	width:100%;
	height:20%;
	position:relative;
	background-color:#3A3A3A;
	bottom:0px;
	padding:0px;
	transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	border-top:2px #99620F solid;
}

#footer-div:hover {
	height:20%;
}

tr#footer-div  {
	height:19%;
}

#head-text {
	color:orange;
	font-size:35px;
	padding-top:0px;
	min-width:1%;
	text-decoration:none;
	white-space: nowrap;
	transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
}

#head-text:hover {
	font-size:40px;
}

a:link {
	color:orange;
	text-decoration:none;
}

a:visited {
	color:orange;
	text-decoration:none;
}

a:hover {
	color:white;
	text-decoration:none;
}

a:active {
	color:white;
	text-decoration:none;
}

a.header-links {
	white-space: nowrap;
	align-text:right;
	text-decoration:none;
	font-size:25px;	
}

.header-links {
	white-space:no-wrap;
	padding-top:3px;
	position:inline;
	color:orange;
	font-size:25px;
	white-space: nowrap;
	min-width:50px;
}

td.header-links {
	max-width:75px;
}

div#about-us-content>p>a {
	align-text:right;
	text-decoration:none;
	transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
}

#links-menu{
	right:0px:
	align:right;
}

#logo {
	width:50px;
}

#header-spacer{
	text-align:right;
}

table#header-table {
	border-spacing:0px;
	background-color:#3A3A3A;
	width:100%;
	position:fixed;
	border-bottom:2px #99620F solid;
	z-index:100000000;
}

table#about-us-content {
	border-spacing:0px;
	background-color:#3A3A3A;
	width:100%;
	top:-30px;
	width:100%;
	border-bottom:1px orange;
}

.main-body-text {
	background:#3A3A3A;
	margin-left:10%;
	width:80%;
	margin-top:20px;
	padding:10px;
	margin-bottom:15px;
}
div#about-us-content p {
	font-size:18px;
	line-height: 1.5;
	color:white;
	text-indent:50px;
	text-align:left;
}

div.dont-indent p {
	font-size:18px !important;
	line-height: 1.5 !important;
	color:white !important;
	text-indent:0px !important;
}

#top{
	margin-top:60px;
}

.body-header {
	color:orange;
	text-indent:10px;
}

h2.body-header>a:link, h2.body-header>a:visited{
	color:white;
	transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	text-decoration:underline;
}
h2.body-header>a:hover{
	color:orange;
	font-size:110%;
}
/*.body-text {
	color:white;
	text-indent:50px;
}*/

#footer-heading {
	color:orange;
	padding:0px;
	margin:0px;
	font-size:20px;
}

.body-text {
	font-size:110%;
	line-height: 145%;
	color:white;
	text-indent:50px;
}	


table#about-us-content tr td p{
	font-size:110%;
	line-height: 145%;
	color:white;
	text-indent:50px;
}

.login {
	border-color:orange;
	border-style:2px solid orange;
	background-color:orange;
	color:white;
	text-decoration:bold;
	font-size:150%;
}

div.content p {
	line-height:150% !important;
}

.link-row a, .link-row div, .link-row iframe{
	padding-right:20px;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.link-row a:hover, .link-row div:hover, .link-row iframe:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

input.button {
	background-color:orange;
	color:white;
	border:1px black solid;
	font-size:150%;
	height:48px;
}

input.button:hover {
	background-color:black;
	color:orange;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: orange;
}

::selection {
    color: black;
    background: orange;
}

/*Style for header*/

#nav
{
    width:550px;
}
    #nav > a
    {
        display: none;
    }
    #nav li
    {
        position: relative;
    }
 
    /* first level */
 
    #nav > ul
    {
        height: 20px;
		list-style-type: none;
		margin:0px;
		padding-bottom:20px;
    }
        #nav > ul > li
        {
            width: 25%;
            height: 100%;
            float: left;
			text-align:center;
        }
 
    /* second level */
 
    #nav li ul
    {
        display: none;
        position: absolute;
        top: 30px;
		list-style-type:none;
		background-color:#3A3A3A;
		padding-top:10px;
		padding-right:30px;
		padding-bottom:10px;
		padding-left:25px;
		border:ridge;
		border-color:orange;
    }
        #nav li:hover ul
        {
            display: block;
        }
@media only screen and ( max-width: 40em ) /* 640 */
{
    #nav
    {
        position: relative;
		z-index:999999999999;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
			text-align:right;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        #nav:target > ul
        {
            display: block;
			background-color:#3A3A3A;
			border:ridge;
			border-color:orange;
			width: 100px;
			padding-left:0px;
        }
        #nav > ul > li
        {
            width: 100%;
			padding-left:0px;
            float: none;
        }
 
    /* second level */
 
    #nav li ul
    {
        position: static;
    }
}

/*style for header*/

img[alt="Parkside CTE"] { height: 150px; float:left;}
img[alt="Tec Foundation"] { width: 200px; float:right;}
img[alt="Nasa"] {float:left; }
img[alt="Community Foundation"] { height: 170px; float:right; }
img[alt="Ace"] { float:left; }
